name: API Tests

on:
  workflow_dispatch:
    inputs:
      SCENARIO:
        type: 'choice'
        default: '-m login'
        options:
          - -m login
          - -m regression
        required: true
        description: 'Pytest markers'

jobs:
  run-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Clone test services
        run: git clone https://github.com/kapKurgan/framework-for-testing-functionality-user-management-API.git testing-API

      # Копируем нужные файлы в testing-API
      - name: Copy config files to testing-API
        run: |
          cp Dockerfile.base testing-API/
          cp docker-compose.ci.yaml testing-API/

      - name: Build base Docker image
        run: docker build -f Dockerfile.base -t base-service .
        working-directory: testing-API

      - name: Start test services
        run: docker compose -f docker-compose.ci.yaml up --build -d
        working-directory: testing-API

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests and generate HTML report
        run: |
          mkdir -p reports/${{ github.run_id }}
          pytest ${{ github.event.inputs.SCENARIO }} --html=reports/${{ github.run_id }}/index.html

      - name: Deploy HTML report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          keep_files: true
          publish_dir: reports
          publish_branch: gh-pages

      - name: Stop test services
        if: always()
        run: docker compose -f docker-compose.ci.yaml down -v
        working-directory: testing-API